/* Handel CSS mods for rmd files used in classroom
 * Last Modified: 2019-07-26
 *
-------------------------------------------------------------------------------- */


/* My additions
-------------------- */

#classname
{
	color: #123c66;  
	font-weight: bold;
	text-align: center;
	font-size: 120%;
}

#classauthor
{
	color: black;  
	font-weight: normal;
	text-align: center;
	
}

#mylicense
{
	text-align: center;
	font-size: 70%;
	
}

iframe {
	display: block;
	margin-left: auto;
    margin-right: auto;
}

#mytextbox
{
	border: 10px solid #cfd7e0; 
	color: black;  
	font-weight: normal;
}

.MathJax {
	font-size: .15em;
}

